

.imageContainer {
    font-size: 100px;
    margin-bottom: 25px;
}

.textContainer {
    /* background: white; */
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: white;
}