.playersContainer {
    /* background: red; */
    display: flex;
    width: 600px;
    font-family: 'Russo One', sans-serif;
    user-select: none; 
}

.playersContainer h2 {
    color: black;
}

.playerContainer {
    background: white;
    border-radius: 4px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    height: 200px;
}

.aiContainer {
    background: white;
    border-radius: 4px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
}

.image {
    /* background: #f1f1f1; */
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
}

.skillSetContainer {
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.skillSetContainer p {
    width: 100px;
    text-align: center;
    font-size: 16px;
}

.arrowContainer {
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vsContainer {
    flex: 1;
    /* font-family: 'Russo One', sans-serif; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.buttonTwo {
    position: absolute;
    right: 25px;
    top: 25px;
    background: black;
    color: white;
}

.title {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.smallTitle {
    font-family: 'Russo One', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}




.setupContainer {
    background: #f1f1f1;
    user-select: none;
    width: 300px;
}

.imageContainer {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    /* background: white; */
}

.nameContainer {
    background: white;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    padding: 15px;
}

.nameContainer h2 {
    color: black;
}