.container {
    background: rgb(174,54,109);
    background: linear-gradient(90deg, rgba(174,54,109,1) 0%, rgba(74,201,161,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-height: 100vh;
}

.title {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.smallTitle {
    font-family: 'Russo One', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}

.button {
    border: 0;
    margin: 10px;
    width: 200px;
    height: 50px;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Russo One', sans-serif;
}

.buttonTwo {
    border: 0;
    margin: 10px;
    width: 200px;
    height: 50px;
    background: #ccc;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Russo One', sans-serif;
}

.selected {
    background: white;
}

.buttonContainer {
    width: 660px;
    justify-content: center;
    align-items: center;
}
